.App {
  text-align: left;
}
.test{
  text-align: center;
}
.third{
  text-align: center;
}
.inputWrapper label{
  margin-right: 12px;
}
table{
  background-color: lightcyan;

}
tr:nth-child(odd){
  background-color: lightblue;
}
td,th{
  padding: 8px;
}